<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Netline.Pdks.JP.Rnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>

      <customBinding>
        <binding name="PntCardSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
 
      <endpoint address="http://localhost:8080/logo/services/PntCard.PntCardHttpsSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="PntCardSoap12Binding"
        contract="jpWS.PntCardPortType" name="PntCardHttpsSoap12Endpoint" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Netline.Pdks.JP.Rnd.Properties.Settings>
      <setting name="Netline_Pdks_JP_Rnd_pntCard_PntCard" serializeAs="String">
        <value>http://localhost:8080/logo/services/PntCard.PntCardHttpSoap11Endpoint/</value>
      </setting>
    </Netline.Pdks.JP.Rnd.Properties.Settings>
  </applicationSettings>
</configuration>